.rw-product-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__row {
    &:not(:first-child) {
      padding-top: 10px;
    }
  }

  &__title-link {

  }

  &__quantity {
    max-width: 80px;
  }
}