:root {
  --font-family-primary: Helvetica, Arial, sans-serif;
  --font-size: 14px;
  --main-color: #5280b2;
  --secondary-color: #d31647;
  --color-gray: #7f8c8d;
  --font-color: #000;
  --font-disabled-color: #aaa;
  --container-width: 1200px;
  --link-clolor: #5280b2;
  --link-clolor-light: #6c9ed4;
  --headline-bg: #f8f8f8;
  --main-bg: #fafafa;
  --border-light-color: #e8e8e9;
  --headline-link-color: #676767;
  --black-color: rgba(0, 0, 0, 0.8);
  --form-field-border-color: #d2d2d2;
  --z-index-dropdown: 100;
  --z-index-backdrop: 1000;
  --z-index-modal: 10000;
  --success-color: lime;
  --error-color: red;
  --notice-collor: yellow;
  --border-radius: 5px;
}
