node_modules/
.idea/
dist/
docker/database
.env

# Ignore Wordpress Server
/server/wp/*.*
/server/wp/wp-admin
/server/wp/wp-includes
/server/wp/wp-content/*.*
/server/wp/wp-content/plugins
/server/wp/wp-content/uploads
/server/wp/wp-content/upgrade
/server/wp/wp-content/themes/*
/server/wp/wp-content/themes/rewooc/vendor

# Allow Wordpress Rewooc theme
!/server/wp/wp-content/themes/rewooc/