.rw-dropdown {
  padding: 15px 0;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  text-align: left;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);

  width: 200px;

  &__item {
    position: relative;

    &:hover {
      background-color: #f2f6f9;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 7px 24px;
    text-decoration: none;
    color: var(--headline-link-color);

    &:hover {
      color: #000;
    }
  }

  &__arrow {
    margin-left: auto;
  }

  &__drop {
    position: absolute;
    top: -1px;

    &--ltr {
      left: 100%;
    }

    &--rtl {
      right: 100%;
    }
  }
}
