@import "../../../assets/scss/mixins";

.rw-horizontal-filter {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  &__list {
    display: flex;
    gap: 15px;
  }

  &__clear {
  }

  &__attribute {
    position: relative;
  }

  &__label {
    @include clearBtn;
    cursor: pointer;
    display: flex;
    gap: 5px;
  }

  &__dropdown {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    background-color: #fff;
    border: 1px solid var(--border-light-color);
    padding: 10px;
    border-radius: 5px;
  }
}