.ps-btn {
  --size-lg: 2rem;
  --size-md: 1.5rem;
  --size-sm: 0.8rem;
  --size-ratio: 0.35; /*40%*/

  border: 0;
  background-color: #fff;
  border-radius: 0;
  cursor: pointer;
  line-height: 1.3;
  white-space: nowrap;
  transition: background-color 0.5s;
  
  &:hover {
    background-color: #af163d;
  }

  /* Sizes modifiers */
  &--lg {
    padding: calc(var(--size-lg)*var(--size-ratio)) var(--size-lg);
    font-size: 1.25rem;
  }
  &--md {
    padding: calc(var(--size-md)*var(--size-ratio)) var(--size-md);
    font-size: 1rem;
  }
  &--sm {
    padding: calc(var(--size-sm)*var(--size-ratio)) var(--size-sm);
    font-size: 0.875rem;
  }


  /* Color modifiers */
  &--secondary {
    color: #fff;
    background-color: var(--secondary-color);
  }
}