@import '../../assets/scss/mixins';

.rw-home {
  @include container;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;

  &__sidebar {
    width: 300px;
    padding-right: 30px;
    flex-shrink: 0;
  }

  &__main {
    flex-grow: 1;
  }

  &__main-item {
    &:not(:first-child) {
      padding-top: 3rem;
    }
  }
}
