.rw-address-delivery {
  &__field {
    margin-bottom: 10px;
  }
  &__map {
    height: 300px;
  }
  &__actions {
    margin-top: 5px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
    justify-content: start;
  }
}
