.rw-home-1 {

  &__top {

  }

  &__top-item {
    padding: 3rem 0;
  }

  &__middle {
    display: flex;
    width: 100%;
  }

  &__sidebar {
    width: 300px;
    padding-right: 30px;
    flex-shrink: 0;
  }

  &__main {

  }

  &__main-item {
    &:not(:first-child) {
      padding-top: 3rem;
    }
  }

}