.rw-choice-list {
  display: flex;
  flex-direction: column;
  gap: 13px;

  &__item {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__count {
    color: var(--color-gray);
    font-size: 0.8rem;
  }
}