.pc-button {
  --button-size-lg: 2rem;
  --button-size-md: 1.5rem;
  --button-size-sm: 0.8rem;
  --button-size-ratio: 0.35; /*40%*/
  --button-border-radius: 0;

  position: relative;
  border: 0;
  background-color: #fff;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  line-height: 1.3;
  white-space: nowrap;
  transition: background-color 1.5s;

  > * {
    position: relative;
  }

  &::before {
    content: '';
    position: absolute;
    background-color: transparent;
    border-radius: var(--button-border-radius);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  &:hover {
    &:not([disabled])::before {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &:active {
    &:not([disabled])::before {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  /* Sizes modifiers */
  &--lg {
    padding: calc(var(--button-size-lg) * var(--button-size-ratio))
      var(--button-size-lg);
    font-size: 1.25rem;
  }

  &--md {
    padding: calc(var(--button-size-md) * var(--button-size-ratio))
      var(--button-size-md);
    font-size: 1rem;
  }

  &--sm {
    padding: calc(var(--button-size-sm) * var(--button-size-ratio))
      var(--button-size-sm);
    font-size: 0.875rem;
  }

  /* Color modifiers */
  &--secondary {
    color: #fff;
    background-color: var(--secondary-color);
  }

  &[disabled] {
    opacity: 0.5;
    cursor: default;
  }
}
