.rw-autocomplete-results {
  --active-link-color: #eee;

  &__item {
  }

  &__link {
    display: block;
    padding: 15px;
    color: var(--black-color);
    text-decoration: none;

    &:hover {
      background-color: var(--active-link-color);
    }

    &:focus {
      background-color: red;
    }
  }

  &__item--active &__link {
    background-color: var(--active-link-color);
  }
}
