.rw-dialog {
  position: fixed;
  top: 30px;
  left: 30px;
  background-color: rgba(255, 0, 0, 0.3);
  height: 300px;
  width: 300px;

  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
}
