.rw-dialog {
  position: relative;
  max-width: 300px;
  width: 100%;
  background-color: #fff;
  border-radius: var(--border-radius);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid var(--border-light-color);
  }

  &__close {
    cursor: pointer;
  }

  &__content {
    padding: 20px;
  }
}
