.rw-cart-table {
  display: grid;
  grid-template-columns: min-content 1fr fit-content(100px) max-content;
  gap: 15px;
  align-items: center;

  &__delete-btn {
    cursor: pointer;
    width: 28px;
    height: 28px;
  }

  &__price {
    text-align: right;
  }
}
