@import "../../assets/scss/mixins";

.rw-home {

  &__top {

  }

  &__top-item {
    padding: 3rem 0;
  }

  &__middle {
    display: flex;
  }

  &__sidebar {
    width: 300px;
    padding-right: 30px;
    flex-shrink: 0;
  }

  &__main {
    flex-grow: 1;
  }

  &__main-item {
    &:not(:first-child) {
      padding-top: 3rem;
    }
  }

  &__container {
    @include container;
  }

}