.pc-list-nav {
  --indent: 0.8em;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.9rem;
  margin: 0 calc(var(--indent) * -1);

  &__item {
    position: relative;
    margin: 0 var(--indent);
  }

  &__link {
    position: relative;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--headline-link-color);

    &:hover {
      color: var(--black-color);
    }
  }

  &__arrow {
    padding-left: 5px;
  }

  &__drop {
    position: absolute;
    z-index: 1000;
    top: 100%;

    &.js-hidden {
      display: none;
    }

    &--ltr {
      left: 0;
    }

    &--rtl {
      right: 0;
    }
  }
}