html {
  font-family: var(--font-family-primary);
  font-size: var(--font-size);
}

body {
  background-color: var(--main-bg);
}

.rw-app-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}