.pc-header {
  border-top: 2px solid var(--main-color);

  &__headline {
    padding: 10px 0;
    background-color: var(--headline-bg);
  }

  &__main {
    padding: 15px 0;
    border-top: 1px solid #ccc;
  }

  &__main-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__navbar {
    padding: 15px 0;
    border-top: 1px solid #ccc;
  }
}