.rw-form-field {
  display: grid;
  grid-gap: 8px;

  &--horizontal {
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  /* Element */
  &__element {
    display: flex;
    align-items: center;
    border: 1px solid var(--form-field-border-color);
    background-color: #fff;
    color: var(--color-gray);

    & > * {
      padding: 0.5rem 1rem;
    }
  }

  /* Control */
  &__control {
    border: 0;
    width: 100%;
    font-size: 0.9rem;
    line-height: 1.5;
    color: inherit;

    &[type='checkbox'],
    &[type='radio'] {
      display: inline-block;
      width: auto;
      padding: 0;
      margin: 0;
    }

    &:is(textarea) {
      resize: vertical;
    }
  }

  &--invalid &__control {
    border-color: var(--error-color);
  }

  /* Error */
  &__error {
    color: var(--error-color);
  }

  &__required-star {
    margin-left: 2px;
    color: var(--error-color);
  }
}
